.calculator {
  border-radius: 1rem;
  background-color: bisque;
  border: 3px solid rgb(5, 5, 5);
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.calculator_title {
  height: 3rem;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "strict";
}
@media screen and (max-width: 435px) {
  .calculator_title {
    height: 2.5rem;
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 405px) {
  .calculator_title {
    height: 2rem;
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 382px) {
  .calculator_title {
    height: 1.5rem;
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 352px) {
  .calculator_title {
    height: 1.5rem;
    font-size: 1rem;
  }
}
@media screen and (max-width: 300px) {
  .calculator_title {
    font-size: 0.8rem;
  }
}
.calculator_input {
  height: 10rem;
  font-size: 7rem;
  padding-left: 0.5rem;
  border: 2px solid black;
  border-radius: 0.4rem;
  background-color: rgb(51, 51, 51);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "input";
  pointer-events: none;
  cursor: default;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  background-color: grey;
}
.calculator_keyboard {
  margin-top: 2rem;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: rgb(219, 197, 170);
  -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  font-family: "keyboard";
}
.calculator_keyboard .key-number {
  background-color: rgb(231, 228, 16);
}
.calculator_keyboard .key-equal {
  background-color: white;
}
.calculator_keyboard span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
  font-size: 3rem;
  font-weight: 900;
  background-color: rgb(196, 164, 164);
  cursor: pointer;
  -webkit-box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 1px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
          box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 1px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.calculator_keyboard span:hover {
  -webkit-box-shadow: 0 0 0, rgba(6, 24, 44, 0.4) 0px 0px 0px 1px, rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
          box-shadow: 0 0 0, rgba(6, 24, 44, 0.4) 0px 0px 0px 1px, rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}