* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "input";
  src: url(../../assets/fonts/digital.ttf);
}
@font-face {
  font-family: "keyboard";
  src: url(../../assets/fonts/19635.ttf);
}
html {
  font-size: 10px;
}

body {
  max-width: 100vw;
  min-width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
  background-color: #c8c6ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}