.hangman{    
    padding: 2rem;
    background-color: rgb(226, 226, 226);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
    border-radius: 0.5rem;
    border: 2px solid black;
   
    &_canvas{
        height: 45%;
        background-color: rgb(255, 255, 255);
        box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
        &_container{
            width: 100%;
            height: 100%;        
        }
    }
    &_quiz{
        height: 55%;
        width: 100%;
        display: flex;
        flex-direction: column; 
        justify-content: space-around;  
        &_input{
            width: 100%;
            display: flex;
            justify-content: center;
            &_symbal{          
                font-size: 2rem;
                background: repeating-linear-gradient(
                    45deg,
                    #333333,
                    #333333 25px,
                    #000000 25px,
                    #000000 50px
                  );
                  color:white;
                width: 5rem;
                height: 5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
            }
        }
        &_buttons{
            display: flex;
            flex-direction: column;
            
            &_container{
                width: 100%;
                display: flex;
                justify-content: space-around;
                padding-bottom: 1rem;
            }
            &_element{
                width: 5rem;
                height: 5rem;
                font-size: 2rem;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #fff;
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
                transition: all 0.4s ease-in-out;
                cursor: pointer;
                font-family: Arial, Helvetica, sans-serif;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, 
                        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px,
                        rgba(255, 255, 255, 0.00) 0px 0px 0px inset; 
                &:hover{
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
                }
            }
        }
    }
   &_final{    
    font-size: 5.5rem;
    text-align: center;    
    opacity: 0;
    height: 6rem;
    border-width: 3px 3px 5px 5px;
    border-radius:4% 95% 6% 95%/95% 4% 92% 5%;
    transform: rotate(1deg);
    font-family: 'kind';
    @media screen and (max-width:533px){
        font-size: 5.2rem;
    }
    @media screen and (max-width:507px){
        font-size: 4.8rem;
    }
    @media screen and (max-width:475px){
        font-size: 4.5rem;
    }
    @media screen and (max-width:449px){
        font-size: 4.2rem;
    }
    @media screen and (max-width:425px){
        padding: 0.4rem 0.7rem;
        font-size: 3.6rem;
        border: 2px solid red;
    }
    @media screen and (max-width:367px){
        font-size: 3rem;
        padding: 0.4rem 0.6rem;
        border: 2px solid red;
    }
    @media screen and (max-width:315px){
        font-size: 2.5rem;
        padding: 0.4rem 0.6rem;
        border: 1px solid red;
    }
   }
   &_kind{
    color:green;
    font-family: 'kind';
    border: 3px solid green;
    opacity: 1;
    cursor: pointer;
    transition: all 0.5s;
    &:hover{
        background-color: #a3a3a3;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }
   }
   &_dead{
    color:red;
    font-family: 'dead';
    border: 3px solid red;
    opacity: 1;
    transition: all 0.5s;
    cursor: pointer;
    &:hover{
        background-color: #a3a3a3;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }
   }
}

.hangman_closed{
    cursor: default;
    --weight: 2px;
    --aa: 1px; /* anti-aliasing */
    --color: red;
    background:
    linear-gradient(45deg, transparent calc(50% - var(--weight) - var(--aa)), var(--color) calc(50% - var(--weight)), var(--color) calc(50% + var(--weight)), transparent calc(50% + var(--weight) + var(--aa))),
    linear-gradient(-45deg, transparent calc(50% - var(--weight) - var(--aa)), var(--color) calc(50% - var(--weight)), var(--color) calc(50% + var(--weight)), transparent calc(50% + var(--weight) + var(--aa)));
    pointer-events: none;
}

.hangman_predicted{
    background:gold;
    color: black;
    text-shadow: 0 0 2px #fff, 
             -1px -1px 0 hsl(80, 70%, 35%),
             -1px -1px 1px hsl(80, 70%, 35%),
             -1px -1px 1px hsl(80, 10%, 15%);
    font-size: 3rem;
}

.hangman_finish{
    pointer-events: none;
}
.hangman_procces5{
    background: url('../../assets/image/5.jpg')  bottom center/contain no-repeat;    
}
.hangman_procces4{
    background: url('../../assets/image/4.jpg')  bottom center/contain no-repeat;    
}
.hangman_procces3{
    background: url('../../assets/image/3.jpg')  bottom center/contain no-repeat;    
}
.hangman_procces2{
    background: url('../../assets/image/2.jpg')  bottom center/contain no-repeat;    
}
.hangman_procces1{
    background: url('../../assets/image/1.jpg')  bottom center/contain no-repeat;    
}
.hangman_procces0{
    background: url('../../assets/image/0.jpg')  bottom center/contain no-repeat;    
}